@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {

    border:0;
    padding:0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: antiquewhite;

}

strong {
    color: rgb(21, 99, 21);
}

p {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    
}

.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 7%;
}

.destaque-titulo {
    color: rgb(12, 240, 12);
}

.main-conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.main-conteudo-titulo {
    font-size: 36px;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
}

.main-conteudo-links {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    padding: 10px 20px;
    margin: 1px;
    font-weight: 600;   
    font-family: 'Montserrat', sans-serif;
}


.main-conteudo-links-botao {
    
    background-color:rgb(13, 147, 33);
    text-decoration: none;
    color: black;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    padding: 21.5px 0;
}
